<mat-card class="data-card">
    <mat-card-header>
        <mat-card-title>Dev Environment Debugging...</mat-card-title>
        <mat-card-subtitle>Options for the dev Environment</mat-card-subtitle>
    </mat-card-header>

    <button (click)="clearStorageEvent()" mat-raised-button color="primary">Clear Storage</button>
    <button (click)="simulate401()" mat-raised-button color="primary">Simulate Error 401 Redirect</button>
    <button (click)="simulate500()" mat-raised-button color="primary">Simulate Error 500 Redirect</button>
    <button (click)="simulate503()" mat-raised-button color="primary">Simulate Error 503 Redirect</button>
</mat-card>
