<mat-card class="data-card">
    <mat-card-header>
        <mat-card-title>Score Filter Parameters</mat-card-title>
        <mat-card-subtitle>Choose the treshold for filtering armor items</mat-card-subtitle>
    </mat-card-header>

    <label>TRASHOLD:</label>
    <mat-slider min="0" max="100" step="1" tickInterval="auto | 1" (change)="generateQueryString($event.value)" (valueChange)="updateTreshold($event)"></mat-slider><br>

    <h1>{{treshold}}%</h1>

    <p>{{to_dismantle_quantity}} armor pices out of {{armor_quantity}} have been selected for deletion</p>

    <button mat-raised-button [cdkCopyToClipboard]="DIMquery" color="primary">Copy DIM query to clipboard</button>
</mat-card>
