<mat-card class="data-card">
    <mat-card-header>
        <mat-card-title>Character Select...</mat-card-title>
        <mat-card-subtitle>Choose one of your NUMBER guardians</mat-card-subtitle>
    </mat-card-header>

    <mat-button-toggle-group name="selectedCharacter">
        <mat-button-toggle value="0">Hunter</mat-button-toggle>
        <mat-button-toggle value="1">Warlock</mat-button-toggle>
        <mat-button-toggle value="2">Titan</mat-button-toggle>
    </mat-button-toggle-group>
</mat-card>
