<p>page-template works!</p>


<button (click)="redirectToBungieLogin()"> Reindirizzo</button>
<button (click)="resetStorage()"> Reset Authentication Token on Local Storage</button>
<h1>{{ status }}</h1>
<p>{{ info }}</p>

<div class="div1"> 
    <h1>Armor Data</h1><br>

    <label for="character">Select character:</label><br>
    <select #character>
        <option value="0">Character #1</option>
        <option value="1">Character #2</option>
        <option value="2">Character #3</option>
    </select><br><br>

    <Button (click)="obtainArmorString(character.value)">Ottieni Armatura</Button>

    <p id="armor-list">{{ armor }}</p>
</div>
<div class="div2">
    <h1>Algorithm Data</h1>  

    <label for="mob">Mobility</label>
    <input type="number" id="mob" name="mobility" min="1" max="7"><br>
    <label for="res">Resilience</label>
    <input type="number" id="res" name="resilience" min="1" max="7"><br>
    <label for="rec">Recovery</label>
    <input type="number" id="rec" name="recovery" min="1" max="7"><br>
    <label for="dis">Discipline</label>
    <input type="number" id="dis" name="discipline" min="1" max="7"><br>
    <label for="int">Intellect</label>
    <input type="number" id="int" name="Intellect" min="1" max="7"><br>
    <label for="str">Strength</label>
    <input type="number" id="str" name="strength" min="1" max="7"><br>
    <label for="treshold">Treshold: </label>
    <input type="number" id="treshold" name="treshold" min="1" max="100"><br>

    <button id="submit-btn"> Clicca qui </button>
    <p id="data">{{ post_algorithm }}</p>
</div>