<p>page-template works!</p>


<button (click)="redirectToBungieLogin()"> Reindirizzo</button>
<button (click)="resetStorage()"> Reset Authentication Token on Local Storage</button>
<h1>{{ status }}</h1>
<p>{{ info }}</p>

<div class="div1"> 
    <h1>Armor Data</h1><br>

    <label for="character">Select character:</label><br>
    <select #character>
        <option value="0">Character #1</option>
        <option value="1">Character #2</option>
        <option value="2">Character #3</option>
    </select><br><br>

    <Button (click)="obtainArmorString(character.value)">Ottieni Armatura</Button>

    <p id="armor-list">{{ armor }}</p>
</div>
<div class="div2">
    <h1>Algorithm Data</h1>  

    <form [formGroup]="algorithmDataForm" (submit)="applyAlgorithm()">
        <label for="mob">Mobility</label>
        <input type="number" min="1" max="7" placeholder="mob" formControlName="mob"><br>
        <label for="res">Resilience</label>
        <input type="number" min="1" max="7" placeholder="res" formControlName="res"><br>
        <label for="rec">Recovery</label>
        <input type="number" min="1" max="7" placeholder="rec" formControlName="rec"><br>
        <label for="dis">Discipline</label>
        <input type="number" min="1" max="7" placeholder="dis" formControlName="dis"><br>
        <label for="int">Intellect</label>
        <input type="number" min="1" max="7" placeholder="int" formControlName="int"><br>
        <label for="str">Strength</label>
        <input type="number" min="1" max="7" placeholder="str" formControlName="str"><br>

        <h5> This is a percentage value between 0 and 100 </h5>

        <label for="treshold">Treshold: </label>
        <input type="number" min="1" max="100" placeholder="treshold" formControlName="treshold"><br>

        <button type="submit"> Clicca qui </button>
    </form>
    
    <p id="data">{{ post_algorithm }}</p>
</div>