<p>
    <mat-toolbar>
      <button mat-icon-button class="" aria-label="menu" *ngIf="mobile">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span>Destiny 2 Aromor Appraiser</span>
  
      <span *ngIf="!mobile">
        <a href="url">Armory cleaner</a>
        <a href="url">Wiki</a>
        <a href="url">Buy us a coffe</a>
      </span>
  
      <span class="spacer"></span>
        <button mat-stroked-button class="" aria-label="login button">
        <mat-icon>account_circle</mat-icon>
          Login
        </button>
    </mat-toolbar>
  </p>
<router-outlet></router-outlet>
