<mat-card class="data-card">
    <mat-card-header>
        <mat-card-title>Armor Data General Display...</mat-card-title>
        <mat-card-subtitle>Here is displayed data about the whole dataset of armor items</mat-card-subtitle>
    </mat-card-header>

    <p>Total number of armor pices: {{armorList.length}}</p>
    <p>Percentage of different kinds of Armor: 
        <img src="../../../../destiny-icons/armor_types/helmet.svg"> 
        <img src="../../../../destiny-icons/armor_types/gloves.svg"> 
        <img src="../../../../destiny-icons/armor_types/chest.svg"> 
        <img src="../../../../destiny-icons/armor_types/boots.svg"></p>
     
</mat-card>



<mat-card class="data-card">
    <mat-card-header>
        <mat-card-title>Armor List Data Display...</mat-card-title>
        <mat-card-subtitle>Here is displayed the table with all the armor pices</mat-card-subtitle>
    </mat-card-header>

    <table mat-table [dataSource]="armorList" class="mat-elevation-z8">
      
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.itemInstanceId}} </td>
        </ng-container>

        <ng-container matColumnDef="ICON">
            <th mat-header-cell *matHeaderCellDef> ICON </th>
            <td mat-cell *matCellDef="let element"> <img src="https://bungie.net{{element.iconPath}}" width="{{image_size}}" height="{{image_size}}"> </td>
          </ng-container>
      
        <ng-container matColumnDef="MOB">
          <th mat-header-cell *matHeaderCellDef> MOB </th>
          <td mat-cell *matCellDef="let element"> {{element.stats.mob | number:'2.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="RES">
            <th mat-header-cell *matHeaderCellDef> RES </th>
            <td mat-cell *matCellDef="let element"> {{element.stats.res | number:'2.0-0'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="REC">
            <th mat-header-cell *matHeaderCellDef> REC </th>
            <td mat-cell *matCellDef="let element"> {{element.stats.rec | number:'2.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="DIS">
            <th mat-header-cell *matHeaderCellDef> DIS </th>
            <td mat-cell *matCellDef="let element"> {{element.stats.dis | number:'2.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="INT">
            <th mat-header-cell *matHeaderCellDef> INT </th>
            <td mat-cell *matCellDef="let element"> {{element.stats.int | number:'2.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="STR">
            <th mat-header-cell *matHeaderCellDef> STR </th>
            <td mat-cell *matCellDef="let element"> {{element.stats.str | number:'2.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="TOT">
            <th mat-header-cell *matHeaderCellDef> TOT </th>
            <td mat-cell *matCellDef="let element"> {{element.stats.tot | number:'2.0-0'}} </td>
        </ng-container>

        <ng-container matColumnDef="SCORE">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell *matCellDef="let element"> {{element.score | number:'2.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
</mat-card>

