.info-display {
    background-color: rebeccapurple;
    margin: 20px;
}

.info-grid {
    margin: 5px;
    margin-top: 5px;
}

mat-grid-tile {
    background: lightblue;
    border-radius: 10px;
    margin-right: 5px;
}