name: gh-pages Deployment

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Install Angular CLI
      run: npm install -g @angular/cli
      
    - name: Install dependencies
      run: npm install --legacy-peer-deps

    - name: Install Angular GLI ghpages package
      run: ng add angular-cli-ghpages

    #- name: Build
    #  run: npm run actions:build

    - name: Deploy
      run: npm run actions:deploy
